<ion-content>
  <app-menu></app-menu>
<ion-card class="card">
  <ion-card-content>
    <button class="full-width-button border border-3 border-dark" (click)="aListadoFotosLindas()">
      <ion-img src="../../../assets/bottons/smile.jpg" class="ion-stretched"></ion-img>
    </button>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content>
    <button class="full-width-button border border-3 border-dark" (click)="aListadoFotosFeas()">
      <ion-img src="../../../assets/bottons/sad.jpg" class="ion-stretched"></ion-img>
    </button>
  </ion-card-content>
</ion-card>
</ion-content>
