
ion-content{
  background-image: url('../../../assets/background/1.png');
}


ion-content{
  --background: none;
}
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

h1, h2,ion-card-header{
  font-family: 'Handjet', cursive;
  color: rgb(95, 8, 81);
  text-align: center;
  font-size: 30px;
}
