<ion-content [fullscreen]="true">
  <app-menu>

  </app-menu>
  <div class="ion-padding">

   <ion-card style="background-color:#dbe7da; border-color: black; border-radius: 3px; border-color: black;">
      <ion-card-header class="text-center">
        Gráfico Imágenes Lindas
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        <!-- <h5>somee</h5> -->


      </ion-card-content>
    </ion-card>
    <br>
    <div class="text-center">

      <img src="{{selectedNiceImage}}" />
    </div>

  </div>
</ion-content>
